#body{
    background:skyblue
}

.bg{
    position: fixed;
    background-color: #187382;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
}

.img{
    position: relative;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    display: block;
    margin-top: 40px;
}

.card {
    position: relative;
    width: 580px;
    margin: 0 auto;
    text-align: left;
    background-color: rgba(0,0,0,0.5);
    color: #CF8950;
    padding: 0 0 0 20px;
    border-radius: 10px;
}

.card h1{
    font-size: 40px;
    color: #FFB77C;
}

.card strong{
    color: #FFB77C;
}

.card2{
    position:relative;
    width:580px;
    padding: 0 0 0 20px;
    margin: 0 auto;
    text-align:left;
    margin-bottom: 20px;
}

.myTable{
    position: relative;
    margin: 10px auto;
    display: block;
}
.myTable tr, .myTable th{
    padding: 5px;
}
.myTable tr:hover{
    background-color: yellow;
    cursor: pointer;
}
.myTable tr td{
    padding: 5px 15px;
}


.social{
    position: relative;
    width:580px;
    margin: 0 auto;
    text-align:left;
    background-color: rgba(0,0,0,0.5);
    color: #FFB77C;
    padding: 0 0 0 20px;
    border-radius: 10px;
}
.social h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 25px;
}
.social a{
    font-size: 16px;
    color: #CF8950;
}

.logo{
    position: fixed;
    left: 20px;
    top: 20px;
}