@font-face {
    font-family: 'Nord';
    src: url(../fonts/NordBold.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext');


.body{
    background-color: #187382;
}

.body__bg {
    position: fixed;
    background: url(../img/bg.jpg) no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
}



.card {
    position: relative;
    width: 600px;
    display: block;
}

.card--font-family--comfortaa {
    font-family: 'Comfortaa', cursive;
}

.card--font-color--ocean {
    color: #0c3a42;
}

.card--margin--top {
    margin: 0 auto;
}

.card--margin--medium {
    margin: 0 auto 15px auto;
}

.card--margin--bottom {
    margin: 0 auto;
}

.card--padding--20px {
    padding: 20px 0px 20px 20px;
    width: 580px;
}

.card--padding--15px{
    padding: 15px 0px 15px 20px;
    width: 580px;
}

.card--bgcolor--black{
    background-color: rgba(0,0,0,0.7);
}

.card--bgcolor--blue{
    background-color: rgba(102, 216, 255, 0.7);
}

.card--border-radius--all {
    border-radius: 10px;
}

.card--border-radius--top {
    border-radius: 10px 10px 0 0;
}

.card--border-radius--bottom {
    border-radius: 0 0 10px 10px;
}



.card__img{
    width: inherit;
}



.card__h1{
    font-size: 3.5em;
    margin: 0 0 30px 0;
}

.card__h1--font-family--nord{
    font-family: 'Nord', sans-serif;
}

.card__h1--font-color--beige{
    color: #FFB77C;
}



.card__p{
    margin: 0;
}

.card__p--font-color--brown {
    color: #CF8950;
}



.card__strong{
    white-space: pre;
}

.card__strong--font-color--beige{
    color: #FFB77C;
}



.card__h2{
    margin: -5px auto 20px auto;
}



.card__table {
    border-collapse: collapse;
}

.card__table th{
    padding: 5px;
    text-align: left;
}

.card__table td{
    padding: 5px 15px;
}

.card__table tr:hover{
    background-color: rgba(12,58,66,0.3);
    cursor: pointer;
}



.card__h3{
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

.card__h3--font-family--nord{
    font-family: 'Nord', sans-serif;
}

.card__h3--font-color--beige{
    color: #FFB77C;
}



.card_a{
    text-decoration: none;
    white-space: pre;
}

.card__a--font-family--comfortaa{
    font-family: 'Comfortaa', cursive;
}

.card__a--font-color--brown{
    color: #CF8950;
}



.logo{
    position: fixed;
    left: 20px;
    top: 20px;
}