.footer{
    position: relative;
    height: 120px;
    background-color: #45494d;
}

.footer__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 25px;
}

.footer__links{
    display: flex;
    color: #d7dee4;
    font-family: "Museo Sans", sans-serif;
}

.footer__link{
    margin: 0 40px 0 0;
}

.footer__social{
    display: flex;
}

.footer__social-link{
    margin: 0 0 0 10px;
}

.footer_hr{
    color: #5a5e62;
    background-color: #5a5e62;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 65%;
    border: 0;
    height: 1px;
}

.footer__copyright{
    font-family: "Museo Sans 500", sans-serif;
    color: #73767a;
    font-size: 0.8em;
    white-space: pre;
    position: absolute;
    bottom: 10px;
    right: 15%;
    margin: 0;
}