#map{
    /*position: relative;
    background: url("../img/map.jpg") no-repeat;
    background-size: cover;*/
    height: 600px;
}

.map__mark{
    text-align: left;
    margin: 10px 0 0 10px;
}

.map__link{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Proxima Nova Bold", sans-serif;
    margin-bottom: 2px;
}

.map__address{
    color: #888e95;
    font-size: 1em;
    font-family: "Proxima Nova Semibold", sans-serif;
    margin: 0;
}