.nav__btn{
    color: white;
    padding: .5em 2em;
    border-radius: 20px;
    background-color: #0ebfdd;
    border: 0;
    font-family: cursive;
    float: right;
}

.nav__item{
    text-decoration: none;
    color: #82868f;
    margin-left: 30px;
    float: right;
}


