@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/MuseoSans-700.otf);
}

.nav{
    height: 80px;
    background-color: #f7fdfe;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__logo {
    color: #82868f;
    text-decoration: none;
    font-family: "Museo Sans", sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.nav__flex{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.nav__item {
    color: #82868f;
    text-decoration: none;
    font-family: "Museo Sans", sans-serif;
    font-size: 1em;
    font-weight: 700;
    padding: 10px;
}

.nav__item:hover{
    color: black;
}

.nav__btn{
    background-color: #0ebfdd;
    color: #f7fdfe;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 10px 35px;
}

.nav__btn:hover{
    background-color: #18a7bf;
    color: #f7fdfe;
}

