.team{
    height: 600px;
    background-color: #0ebfdd;
    position: relative;
}

.team__flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.team__members{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.team__member{
    text-align: center;
}

.team__photo{
    margin-bottom: 5px;
}

.team__name{
    font-family: "Avenir Heavy", sans-serif;
    color: #f7fdfe;
    font-size: 1em;
}

.team__post{
    font-family: "Avenir Oblique", sans-serif;
    font-style: oblique;
    color: rgba(247,253,254,0.9);
    font-size: 0.9em;
}

.team__btn{
    background-color: #0ebfdd;
    color: #f7fdfe;
    cursor: pointer;
    border: 1px solid;
    border-radius: 30px;
    padding: 10px 35px;
    font-family: "Museo Sans", sans-serif;
    margin-bottom: 10px;
    outline: none;
}

.team__btn:hover{
    background-color: #f7fdfe;
    color: #18a7bf;
}